.ja{
    color: chocolate;
}
section{
    display:flex;
}
.tui{
    width: 50%;
    padding-left: 5%;
}
.tui img{
    width: 100%;
}
.face{
    text-decoration: none;
    
    background-image: linear-gradient(orange,tomato);
    font-weight: 400;
    color-scheme: white;
    padding: 10px 40px;
    border-radius: 10px;
}
.top{
    background-image: url(image\c:\Users\Jack\Downloads\abstract-gear-wheel-mechanism-background_41981-300.webp);
}
